<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.les.ntfm.infoshare.dao.IbmmqConfigMapper">
    <insert id="addData" parameterType="cn.les.ntfm.infoshare.entity.IbmMqConfigDO">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
            SELECT (NVL(MAX(ID),0)+1) AS id FROM IBMMQCONFIG
        </selectKey>
        INSERT INTO IBMMQCONFIG (
        ID,
        URL,
        USER_NAME,
        PASSWORD,
        CCSID,
        MANAGER,
        PROCESS_MODE,
        DESTINATION,
        CHANNEL,
        OBJECT_NAME,
        CREATE_USER,
        CREATE_TIME,
        UPDATE_USER,
        UPDATE_TIME )
        VALUES(
        ${id},
        #{url},
        #{userName},
        #{password},
        #{ccsid},
        #{manager},
        #{processMode},
        #{destination},
        #{channel},
        #{destination},
        'admin',
        SYSDATE,
        'admin',
        SYSDATE)
    </insert>

    <update id="updateById" parameterType="cn.les.ntfm.infoshare.entity.IbmMqConfigDO">
        UPDATE IBMMQCONFIG
        <set>
            URL = #{url},
            USER_NAME = #{userName},
            PASSWORD = #{password},
            CCSID = #{ccsid},
            MANAGER = #{manager},
            PROCESS_MODE = #{processMode},
            DESTINATION = #{destination},
            CHANNEL = #{channel},
            OBJECT_NAME = #{destination},
            UPDATE_USER = 'admin',
            UPDATE_TIME = SYSDATE
        </set>
        WHERE ID = #{id}
    </update>
    <select id="getDataById" parameterType="java.lang.Long" resultType="cn.les.ntfm.infoshare.entity.IbmMqConfigDO">
        SELECT ID,
               URL,
               USER_NAME,
               PASSWORD,
               CCSID,
               MANAGER,
               PROCESS_MODE,
               DESTINATION,
               CHANNEL,
               OBJECT_NAME,
               CREATE_USER,
               CREATE_TIME,
               UPDATE_USER,
               UPDATE_TIME
        FROM IBMMQCONFIG
        WHERE ID = #{id}
    </select>
</mapper>